@media screen and (max-width: 768px){
    .form_back{
        width: 100% !important;
    }
    .banner form .form_back input {
        width: 59.5%;
    }
    .right_call {
        right: -40%;
        width: 65%;
    }
    .right_call img{
        width: 50px;
    }
    .banner .button_grp a button {
        padding: 10px 13px;
    }
    /* body{
        overflow-x: hidden;
    } */
    .navbar .navbar-nav .nav-item .nav-link {
        margin-left: 0px;
        margin-top: 10px;
    }
    .navbar #social_media{
        display: none;
    }
    #drp {
        margin-top: 0px;
        margin-left: 0px;
    }
    .whatsapp_icon {
        position: fixed;
        bottom: 8%;
        right: 10% !important;
    }
    .banner .banner_content h5 {
        font-size: 34px;
    }
}