@media screen and (max-width: 768px){
    .right_call {
        right: -40%;
        width: 65%;
    }
    .right_call img{
        width: 50px;
    }
    /* body{
        overflow-x: hidden;
    } */
    .whatsapp_icon {
        position: fixed;
        bottom: 8%;
        right: 10% !important;
    }
    .banner .banner_content h5 {
        font-size: 34px;
    }

    .top-header{
        width: 100%;
    }
    #desk_nav .menu li {
        font-size: 0.5rem;
        margin-left: 20px;
        margin-top: 19px;
    }
    #desk_nav .menu{
        margin-left: -1.5rem;
    }
    .navbar-brand img{
        width: 80px;
    }
    .navbar-toggler{
        padding: 20px;
        font-size: 24px;
        display: inline-block;

    }
    #desk_cont{
        width: 90%;
    }

    #desk_nav .dropdown_section .dropdown-menu{
        margin-top: 0px;
    }
    #desk_nav{
        position: sticky !important;
        z-index: 100;
    }
}