@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-header {
    background: linear-gradient(to right, #ff610c, #ff9a63);
    width: 75%;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-header .contact-info>span>a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.top-header .contact-info>span>i {
    color: white;
}

#desk_nav {
    background-color: white;
    position: sticky !important;
    top: 0;
    z-index: 100;
}

#desk_nav .menu li i {
    font-size: 25px;
}

#desk_nav .menu li {
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
    margin-left: 20px;
}

#desk_nav .menu li a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

#desk_nav .menu li a .track {
    color: #0e66ab;
}

#desk_nav .menu li a .pickup {
    color: #db2c3e;
}

#desk_nav .menu li a .locator {
    color: #0e66ab;
}

#desk_nav .menu li a .enquiry {
    color: #db2c3e;
}

#desk_nav .menu li a .estimate {
    color: #0e66ab;
}

#desk_nav .menu li a .customer {
    color: #db2c3e;
}

#desk_nav .dropdown_section {
    background-color: #eeeeee;
    border-bottom: 3px solid #ff610c;
}

#desk_nav .dropdown_section ul li {
    font-size: 0.8rem;
    margin-right: 10px;
    font-weight: 600;
}

#desk_nav .dropdown_section .dropdown-menu {
    margin-top: 10px;
}

.navbar-toggler {
    display: none;
}


/* update section */

.update {
    position: relative;
}

.update .update_content {
    background-color: rgb(216, 216, 216);
    padding: 0.5rem;
}

.update .update_content a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.update .update_text {
    background-color: #0e66ab;
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}



/* our services */


.our_services .srv_content span {
    color: #db2c3e;
}

.our_services .srv_content h3 {
    color: #0e66ab;
    font-weight: 900;
}

.our_services p {
    color: gray;
    font-size: 1rem;
    text-align: justify;
}

.our_services a {
    text-decoration: none;
    color: #0e66ab;
}

.our_services .srv_card h6 {
    font-weight: 900;
}



/* who we are section */

.who_we_our {
    background-color: #222222;
}

.who_we_our span {
    color: white;
    letter-spacing: 3px;
}

.who_we_our h3 {
    color: #ff610c;
    letter-spacing: 2px;
}

.who_we_our p {
    color: gainsboro;
    text-align: justify;
}

.who_we_our button {
    background: linear-gradient(to right, #ff610c, #ff9a63);
    color: white;
    border: none;
    padding: 15px 50px;
    transition: 0.8s;
}

.who_we_our button:hover {
    background: linear-gradient(to left, #ff610c, #ff9a63);
}


/* why choose us section */


.why_choose_us{
    background-image: url(../banner/reception-bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.why_choose_us ul{
    list-style: none;
    padding: 0;
}
.why_choose_us ul li{
    margin-top: 15px;
    color: white;
    transition: 0.8s;
}

.why_choose_us ul li:hover{
    color: #ff9a63;
}



/* review section */

#review_heading span {
    color: gray;
    font-size: 0.7rem;
}

#review_heading h2 {
    color: #0e66ab;
    font-weight: 900;
}

/* subscribe newsletter section */

.subscribe_letter {
    background-color: #0e66ab;
}

.subscribe_letter h4 {
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}

.subscribe_letter form .form_back {
    background-color: white;
    width: 100%;
}

.subscribe_letter form .form_back input {
    width: 70%;
    padding: 0.8rem;
    border: none;
    outline: none;
}
.subscribe_letter form .form_back button{
    background: linear-gradient(to right, #ff610c, #ff9a63);
    color: white;
    width: 29%;
    padding: 0.8rem;
border: none;
}


/* footer section */

footer{
    background-color: #f0fafb;
}

footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
    margin-top: 20px;
}
footer ul li a{
    font-size: 0.8rem;
    text-decoration: none;
    color: grey;
    transition: 0.4s;

}

footer ul li a:hover{
    color: #ff9c68;
}

/* footer bottom section */

.bottom_footer{
    background-color: #eeeeee;
    color: #470271;
}
.bottom_footer span{
    font-size: 0.7rem;
}









/* call section */

.right_call {
    background-color: white;
    width: 20%;
    position: fixed;
    top: 50%;
    right: -12%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: 0.5s;
    padding: 0.6rem;
}

.right_call a {
    text-decoration: none;
    color: black;
}

.right_call:hover {
    right: 0;
}